@use "style" as *;

$block-name: "b-forms-form";

.#{$block-name} {
	padding: 50px;
	border-radius: 25px;
	border: 1px solid $color-purple-dark;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 30px;

	&__message {
		padding: 10px 20px;
		font-size: 14px;
		color: white;
		background-color: $color-purple-dark;
		opacity: 0;
		margin-bottom: 20px;
		border-radius: 15px;
	}

	&__message-hidden {
		opacity: 1;
		transition: 0.3s;
	}
}
