@use "config" as *;

@mixin container {
	max-width: 1520px;
	margin: 0 auto;
	width: 85%;
}

@mixin default-button {
	background-color: $color-gray;
	border-radius: 25px;
	width: fit-content;
	color: $color-gray-dark;
	padding: 15px 40px;
}

@mixin news-button {
	padding: 16px 40px;
	border-radius: 50px;
	border: 2px solid $color-pink-dark;
	width: fit-content;
	transition: 0.5s;
	text-decoration: none;
	color: $color-purple-dark;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	&:hover {
		background-color: $color-purple-dark;
		color: white;
	}

	&:hover path {
		fill: white;
	}
}

@mixin default-title {
	font-weight: 600;
	font-size: 64px;
	line-height: 140%;
	letter-spacing: 0%;
	margin-bottom: 60px;
}

@mixin navigation-list {
	border: 2px solid #841844;
	border-radius: 50px;
	padding: 15px 50px;
	display: flex;
	flex-direction: row;
	gap: 60px;
	align-items: center;
}

@mixin pagination-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 41px;
	border-radius: 50px;
	border: 2px solid $color-purple-dark;
	transition: 0.5s;

	&:hover {
		background-color: #841844;
		color: white;
	}

	& path {
		transition: 0.5s;
	}

	&:hover path {
		fill: white;
	}
}

@mixin pagination-item {
	color: $color-purple-dark;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 50px;
	border: 2px solid $color-purple-dark;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	transition: 0.5s;
	width: 56px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: #841844;
		color: white;
	}
}

@mixin form-input__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 10px 0;
}

@mixin form-input {
	background-color: $color-gray;
	border-radius: 10px;
	border: none;
	outline: none;
	padding: 10px 20px;
	color: black;
	transition: 0.3s;

	&:hover,
	&:focus {
		color: white;
		background-color: $color-gray-dark;
	}
}
