

/* Start:/local/templates/main/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1755595724467*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px;white-space:normal}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/local/templates/main/components/bitrix/main.register/registration/style.min.css?1756124706442*/
div.bx-auth-reg input.bx-auth-input{vertical-align:middle}div.bx-auth-reg span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:middle}div.bx-auth-reg div.bx-auth-secure-icon{background-image:url(/local/templates/main/components/bitrix/main.register/registration/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-auth-reg div.bx-auth-secure-unlock{background-image:url(/local/templates/main/components/bitrix/main.register/registration/images/sec-unlocked.png)}
/* End */
/* /local/templates/main/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1755595724467 */
/* /local/templates/main/components/bitrix/main.register/registration/style.min.css?1756124706442 */
