/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-form/forms-form.scss ***!
  \***********************************************************************************************************************************************************************************************************/
.b-forms-form {
  padding: 50px;
  border-radius: 25px;
  border: 1px solid #841844;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.b-forms-form__message {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #841844;
  opacity: 0;
  margin-bottom: 20px;
  border-radius: 15px;
}
.b-forms-form__message-hidden {
  opacity: 1;
  transition: 0.3s;
}
/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input-button/forms-input-button.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
.b-forms-input-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.b-forms-input-button__input {
  background-color: #ecf2f5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: black;
  transition: 0.3s;
  width: 25%;
  cursor: pointer;
  border: 1px solid #6c6e7b;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.365);
  box-sizing: border-box;
}
.b-forms-input-button__input:hover, .b-forms-input-button__input:focus {
  color: white;
  background-color: #6c6e7b;
}
.b-forms-input-button__input:hover {
  background-color: #841844;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.514);
}
/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input-checkbox/forms-input-checkbox.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
.b-forms-input-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
  border-radius: 15px;
  border: 2px solid #9b407a;
  padding: 10px;
  justify-content: left;
  gap: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input-radiobutton/forms-input-radiobutton.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.b-forms-input-radiobutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
  justify-content: left;
  padding: 5px;
  border: 1px solid #841844;
  border-radius: 8px;
  width: 40%;
  transition: 0.3s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.582);
}
.b-forms-input-radiobutton__input {
  width: 100%;
  opacity: 0;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
.b-forms-input-radiobutton:hover {
  background-color: #9b407a;
  color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.753);
}
.b-forms-input-radiobutton__label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.b-forms-input-radiobutton__label::before {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: "";
  border: 1px solid black;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: 0.3s;
  box-sizing: border-box;
}
.b-forms-input-radiobutton__label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  transition: 0.3s;
}
.b-forms-input-radiobutton:hover .b-forms-input-radiobutton__label::before {
  border-color: white;
}
.b-forms-input-radiobutton__input:checked + .b-forms-input-radiobutton__label::before {
  border-color: #841844;
}
.b-forms-input-radiobutton__input:checked + .b-forms-input-radiobutton__label::after {
  background-color: #841844;
}
.b-forms-input-radiobutton__input:checked:hover + .b-forms-input-radiobutton__label::before {
  border-color: white;
}
.b-forms-input-radiobutton__input:checked:hover + .b-forms-input-radiobutton__label::after {
  background-color: white;
}
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input-range/forms-input-range.scss ***!
  \*************************************************************************************************************************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input-text/forms-input-text.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.b-forms-input-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
}
.b-forms-input-text__input {
  background-color: #ecf2f5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: black;
  transition: 0.3s;
}
.b-forms-input-text__input:hover, .b-forms-input-text__input:focus {
  color: white;
  background-color: #6c6e7b;
}
.b-forms-input-text__label {
  width: 100px;
}
/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-select/forms-select.scss ***!
  \***************************************************************************************************************************************************************************************************************/

/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-textarea/forms-textarea.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
.b-forms-textarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-left: 25px;
}
.b-forms-textarea__textarea {
  background-color: #ecf2f5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: black;
  transition: 0.3s;
  margin: 0 auto;
  width: 90%;
  height: 150px;
  overflow-y: scroll;
  resize: none;
}
.b-forms-textarea__textarea:hover, .b-forms-textarea__textarea:focus {
  color: white;
  background-color: #6c6e7b;
}

/*# sourceMappingURL=forms.1757059691413.css.map*/